* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100vh;
    background-image: url('/app/static/img/background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

#container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

h1{
    font-size: 2rem;
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 35px;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

nav ul li a:hover{
    color: blueviolet;
}

/* Tudo até aqui é a base do css de todas as páginas */

.contato-container {
    background-color: #8e45a06c;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contato-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.contato-container input {
    width: 82%;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #8e45a06c;
}

.contato-container textarea {
    max-width: 80%;
    min-width: 80%;
    max-height: 40vh;
    width: 80%;
    color: #fff;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #8e45a06c;
}

.contato-container input::placeholder {
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-family: "Rubik", sans-serif;
    font-size: large;
    opacity: 1;
}  

.contato-container button {
    margin-top: 10px;
    margin-left: 35%;
    width: 30%;
    padding: 10px;
    background-color: #A41FD9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.contato-container button:hover {
    background-color: #d41FD9;
}

/* Até aqui é o estilo do formulário de contato */

.cadastro-quiz-container {
    background-color: #8e45a06c;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cadastro-quiz-container .form-quiz {
    width: 100%;
    display: flex;
    
}

.cadastro-quiz-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.cadastro-quiz-container input {
    width: 82%;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ae82b994;
}

.cadastro-quiz-container input::placeholder {
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-family: "Rubik", sans-serif;
    font-size: large;
    opacity: 1;
}  

.cadastro-quiz-container button {
    margin-top: 10px;
    margin-left: 35%;
    width: 30%;
    padding: 10px;
    background-color: #A41FD9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.cadastro-quiz-container button:hover {
    background-color: #d41FD9;
}

.quiz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Estilizando os checkbox para ficarem ao lado dos inputs de alternativa */

.quiz .alternativa-correta {
    display: flex;
}


