<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Giovanni+Equine&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="quiz-title">Quiz</h1>
        <a href="/home" class="button">Home</a>
        <a href="/login" class="button">Login</a>
    </div>
</body>
</html>
